<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiyun.mapper.StudentMapper">

    <select id="selectListStudent" resultType="cn.jiyun.pojo.Student">
        select ts.*, tm.name major
        from day_test.tb_student ts
        left join day_test.tb_major tm on ts.mid = tm.id
        <where>
            and ts.del=0

        </where>
    </select>
</mapper>
